# Data Visualization

* Number of questions: 34
* Number of respondants: 19717

In [63]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import MinMaxScaler
import re
import string
import math
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
# import pandas_profiling

In [64]:
pd.set_option('max_rows',500)
pd.set_option('max_columns',800)

In [65]:
DIR = ""
text = pd.read_csv(DIR + 'other_text_responses.csv', low_memory=False)
df = pd.read_csv(DIR + 'multiple_choice_responses.csv', low_memory=False)
schema = pd.read_csv(DIR + 'survey_schema.csv', low_memory=False)
questions = pd.read_csv(DIR + 'questions_only.csv', low_memory=False)

In [4]:
df.columns = [x.split('_')[0] for x in list(df.columns)]
df.columns = df.columns + '_' + df.iloc[0]
df = df.drop([0])

In [5]:
df.head()

,Time from Start to Finish (seconds)_Duration (in seconds),Q1_What is your age (# years)?,Q2_What is your gender? - Selected Choice,Q2_What is your gender? - Prefer to self-describe - Text,Q3_In which country do you currently reside?,Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Q5_Select the title most similar to your current role (or most recent title if retired): - Selected Choice,Q5_Select the title most similar to your current role (or most recent title if retired): - Other - Text,Q6_What is the size of the company where you are employed?,Q7_Approximately how many individuals are responsible for data science workloads at your place of business?,Q8_Does your current employer incorporate machine learning methods into their business?,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Analyze and understand data to influence product or business decisions,"Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data",Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build prototypes to explore applying machine learning to new areas,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run a machine learning service that operationally improves my product or workflows,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Experimentation and iteration to improve existing ML models,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Do research that advances the state of the art of machine learning,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - None of these activities are an important part of my role at work,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Other,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Other - Text,Q10_What is your current yearly compensation (approximate $USD)?,Q11_Approximately how much money have you spent on machine learning and/or cloud computing products at your work in the past 5 years?,Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Twitter (data science influencers),Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Hacker News (https://news.ycombinator.com/),"Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Reddit (r/machinelearning, r/datascience, etc)","Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Kaggle (forums, blog, social media, etc)","Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Course Forums (forums.fast.ai, etc)","Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - YouTube (Cloud AI Adventures, Siraj Raval, etc)","Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Podcasts (Chai Time Data Science, Linear Digressions, etc)","Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Blogs (Towards Data Science, Medium, Analytics Vidhya, KDnuggets etc)","Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Journal Publications (traditional publications, preprint journals, etc)","Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Slack Communities (ods.ai, kagglenoobs, etc)",Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - None,Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Other,Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Other - Text,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udacity,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Coursera,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - edX,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataCamp,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataQuest,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Kaggle Courses (i.e. Kaggle Learn),Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Fast.ai,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udemy,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - LinkedIn Learning,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - University Courses (resulting in a university degree),Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - None,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Other,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Other - Text,Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice,"Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Basic statistical software (Microsoft Excel, Google Sheets, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Advanced statistical software (SPSS, SAS, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Business intelligence software (Salesforce, Tableau, Spotfire, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Local development environments (RStudio, JupyterLab, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Cloud-based data software & APIs (AWS, GCP, Azure, etc.) - Text",Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Other - Text,Q15_How long have you been writing code to analyze data (at work or at school)?,"Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Jupyter (JupyterLab, Jupyter Notebooks, etc)",Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - RStudio,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - PyCharm,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Atom,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - MATLAB,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Visual Studio / Visual Studio Code,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Spyder,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Vim / Emacs,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Notepad++,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Sublime Text,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - None,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Other,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Other - Text,Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - Kaggle Notebooks (Kernels),Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - Google Colab,Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - Microsoft Azure Notebooks,"Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - Google Cloud Notebook Products (AI Platform, Datalab, etc)",Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - Paperspace / Gradient,Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - FloydHub,Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - Binder / JupyterHub,Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - IBM Watson Studio,Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - Code Ocean,"Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - AWS Notebook Products (EMR Notebooks, Sagemaker Notebooks, etc)",Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - None,Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Selected Choice - Other,Q17_Which of the following hosted notebook products do you use on a regular basis? (Select all that apply) - Other - Text,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - R,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - SQL,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C++,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Java,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Javascript,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - TypeScript,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Bash,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - MATLAB,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - None,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Other,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Other - Text,Q19_What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice,Q19_What programming language would you recommend an aspiring data scientist to learn first? - Other - Text,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - Ggplot / ggplot2,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - Matplotlib,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - Altair,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - Shiny,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - D3.js,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - Plotly / Plotly Express,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - Bokeh,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - Seaborn,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - Geoplotlib,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - Leaflet / Folium,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - None,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Selected Choice - Other,Q20_What data visualization libraries or tools do you use on a regular basis? (Select all that apply) - Other - Text,Q21_Which types of specialized hardware do you use on a regular basis? (Select all that apply) - Selected Choice - CPUs,Q21_Which types of specialized hardware do you use on a regular basis? (Select all that apply) - Selected Choice - GPUs,Q21_Which types of specialized hardware do you use on a regular basis? (Select all that apply) - Selected Choice - TPUs,Q21_Which types of specialized hardware do you use on a regular basis? (Select all that apply) - Selected Choice - None / I do not know,Q21_Which types of specialized hardware do you use on a regular basis? (Select all that apply) - Selected Choice - Other,Q21_Which types of specialized hardware do you use on a regular basis? (Select all that apply) - Other - Text,Q22_Have you ever used a TPU (tensor processing unit)?,Q23_For how many years have you used machine learning methods?,Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Linear or Logistic Regression,Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Decision Trees or Random Forests,"Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Gradient Boosting Machines (xgboost, lightgbm, etc)",Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Bayesian Approaches,Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Evolutionary Approaches,"Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Dense Neural Networks (MLPs, etc)",Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Convolutional Neural Networks,Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Generative Adversarial Networks,Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Recurrent Neural Networks,"Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Transformer Networks (BERT, gpt-2, etc)",Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - None,Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Other,Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Other - Text,"Q25_Which categories of ML tools do you use on a regular basis? (Select all that apply) - Selected Choice - Automated data augmentation (e.g. imgaug, albumentations)","Q25_Which categories of ML tools do you use on a regular basis? (Select all that apply) - Selected Choice - Automated feature engineering/selection (e.g. tpot, boruta_py)","Q25_Which categories of ML tools do you use on a regular basis? (Select all that apply) - Selected Choice - Automated model selection (e.g. auto-sklearn, xcessiv)","Q25_Which categories of ML tools do you use on a regular basis? (Select all that apply) - Selected Choice - Automated model architecture searches (e.g. darts, enas)","Q25_Which categories of ML tools do you use on a regular basis? (Select all that apply) - Selected Choice - Automated hyperparameter tuning (e.g. hyperopt, ray.tune)","Q25_Which categories of ML tools do you use on a regular basis? (Select all that apply) - Selected Choice - Automation of full ML pipelines (e.g. Google AutoML, H20 Driverless AI)",Q25_Which categories of ML tools do you use on a regular basis? (Select all that apply) - Selected Choice - None,Q25_Which categories of ML tools do you use on a regular basis? (Select all that apply) - Selected Choice - Other,Q25_Which categories of ML tools do you use on a regular basis? (Select all that apply) - Other - Text,"Q26_Which categories of computer vision methods do you use on a regular basis? (Select all that apply) - Selected Choice - General purpose image/video tools (PIL, cv2, skimage, etc)","Q26_Which categories of computer vision methods do you use on a regular basis? (Select all that apply) - Selected Choice - Image segmentation methods (U-Net, Mask R-CNN, etc)","Q26_Which categories of computer vision methods do you use on a regular basis? (Select all that apply) - Selected Choice - Object detection methods (YOLOv3, RetinaNet, etc)","Q26_Which categories of computer vision methods do you use on a regular basis? (Select all that apply) - Selected Choice - Image classification and other general purpose networks (VGG, Inception, ResNet, ResNeXt, NASNet, EfficientNet, etc)","Q26_Which categories of computer vision methods do you use on a regular basis? (Select all that apply) - Selected Choice - Generative Networks (GAN, VAE, et

In [6]:
df.iloc[:,4].value_counts()

India                                                   4786
United States of America                                3085
Other                                                   1054
Brazil                                                   728
Japan                                                    673
Russia                                                   626
China                                                    574
Germany                                                  531
United Kingdom of Great Britain and Northern Ireland     482
Canada                                                   450
Spain                                                    399
Nigeria                                                  395
France                                                   387
Taiwan                                                   301
Turkey                                                   288
Italy                                                    271
Australia                                                269
Poland                                                   212
Pakistan                                                 210
Mexico                                                   195
Ukraine                                                  191
South Korea                                              182
Colombia                                                 168
Indonesia                                                167
Netherlands                                              161
Singapore                                                156
Bangladesh                                               136
Viet Nam                                                 128
Morocco                                                  123
Argentina                                                123
Egypt                                                    122
South Africa                                             120
Kenya                                                    114
Portugal                                                 114
Greece                                                   108
Israel                                                   104
Switzerland                                               97
Iran, Islamic Republic of...                              96
Sweden                                                    92
Chile                                                     91
Ireland                                                   89
Malaysia                                                  80
Peru                                                      74
Republic of Korea                                         73
Belgium                                                   70
Tunisia                                                   68
Belarus                                                   68
Thailand                                                  67
Philippines                                               65
Hong Kong (S.A.R.)                                        64
Algeria                                                   58
Czech Republic                                            58
Romania                                                   58
Hungary                                                   56
Denmark                                                   55
Austria                                                   53
Norway                                                    51
New Zealand                                               51
Saudi Arabia                                              50
Name: Q3_In which country do you currently reside?, dtype: int64

In [244]:
ques = pd.DataFrame([*df.columns])
values = [*df.columns]
[*enumerate(values)]

[(0, 'Time from Start to Finish (seconds)_Duration (in seconds)'),
 (1, 'Q1_What is your age (# years)?'),
 (2, 'Q2_What is your gender? - Selected Choice'),
 (3, 'Q2_What is your gender? - Prefer to self-describe - Text'),
 (4, 'Q3_In which country do you currently reside?'),
 (5,
  'Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?'),
 (6,
  'Q5_Select the title most similar to your current role (or most recent title if retired): - Selected Choice'),
 (7,
  'Q5_Select the title most similar to your current role (or most recent title if retired): - Other - Text'),
 (8, 'Q6_What is the size of the company where you are employed?'),
 (9,
  'Q7_Approximately how many individuals are responsible for data science workloads at your place of business?'),
 (10,
  'Q8_Does your current employer incorporate machine learning methods into their business?'),
 (11,
  'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Analyze and understand data to influence product or business decisions'),
 (12,
  'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data'),
 (13,
  'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build prototypes to explore applying machine learning to new areas'),
 (14,
  'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run a machine learning service that operationally improves my product or workflows'),
 (15,
  'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Experimentation and iteration to improve existing ML models'),
 (16,
  'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Do research that advances the state of the art of machine learning'),
 (17,
  'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - None of these activities are an important part of my role at work'),
 (18,
  'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Other'),
 (19,
  'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Other - Text'),
 (20, 'Q10_What is your current yearly compensation (approximate $USD)?'),
 (21,
  'Q11_Approximately how much money have you spent on machine learning and/or cloud computing products at your work in the past 5 years?'),
 (22,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Twitter (data science influencers)'),
 (23,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Hacker News (https://news.ycombinator.com/)'),
 (24,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Reddit (r/machinelearning, r/datascience, etc)'),
 (25,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Kaggle (forums, blog, social media, etc)'),
 (26,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Course Forums (forums.fast.ai, etc)'),
 (27,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - YouTube (Cloud AI Adventures, Siraj Raval, etc)'),
 (28,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Podcasts (Chai Time Data Science, Linear Digressions, etc)'),
 (29,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Blogs (Towards Data Science, Medium, Analytics Vidhya, KDnuggets etc)'),
 (30,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Journal Publications (traditional publications, preprint journals, etc)'),
 (31,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Slack Communities (ods.ai, kagglenoobs, etc)'),
 (32,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - None'),
 (33,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Other'),
 (34,
  'Q12_Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Other - Text'),
 (35,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udacity'),
 (36,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Coursera'),
 (37,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - edX'),
 (38,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataCamp'),
 (39,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataQuest'),
 (40,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Kaggle Courses (i.e. Kaggle Learn)'),
 (41,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Fast.ai'),
 (42,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udemy'),
 (43,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - LinkedIn Learning'),
 (44,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - University Courses (resulting in a university degree)'),
 (45,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - None'),
 (46,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Other'),
 (47,
  'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Other - Text'),
 (48,
  'Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice'),
 (49,
  'Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Basic statistical software (Microsoft Excel, Google Sheets, etc.) - Text'),
 (50,
  'Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Advanced statistical software (SPSS, SAS, etc.) - Text'),
 (51,
  'Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Business intelligence software (Salesforce, Tableau, Spotfire, etc.) - Text'),
 (52,
  'Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Local development environments (RStudio, JupyterLab, etc.) - Text'),
 (53,
  'Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Cloud-based data software & APIs (AWS, GCP, Azure, etc.) - Text'),
 (54,
  'Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Other - Text'),
 (55,
  'Q15_How long have you been writing code to analyze data (at work or at school)?'),
 (56,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice - Jupyter (JupyterLab, Jupyter Notebooks, etc) "),
 (57,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  RStudio "),
 (58,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  PyCharm "),
 (59,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  Atom "),
 (60,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  MATLAB "),
 (61,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -  Visual Studio / Visual Studio Code "),
 (62,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -   Spyder  "),
 (63,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -   Vim / Emacs  "),
 (64,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -   Notepad++  "),
 (65,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice -   Sublime Text  "),
 (66,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice - None"),
 (67,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice - Other"),
 (68,
  "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Other - Text"),
 (69,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Kaggle Notebooks (Kernels) '),
 (70,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Google Colab '),
 (71,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Microsoft Azure Notebooks '),
 (72,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Google Cloud Notebook Products (AI Platform, Datalab, etc) '),
 (73,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Paperspace / Gradient '),
 (74,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  FloydHub '),
 (75,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  Binder / JupyterHub '),
 (76,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice -  IBM Watson Studio '),
 (77,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice - Code Ocean '),
 (78,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice - AWS Notebook Products (EMR Notebooks, Sagemaker Notebooks, etc) '),
 (79,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice - None'),
 (80,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice - Other'),
 (81,
  'Q17_Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Other - Text'),
 (82,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python'),
 (83,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - R'),
 (84,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - SQL'),
 (85,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C'),
 (86,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C++'),
 (87,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Java'),
 (88,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Javascript'),
 (89,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - TypeScript'),
 (90,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Bash'),
 (91,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - MATLAB'),
 (92,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - None'),
 (93,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Other'),
 (94,
  'Q18_What programming languages do you use on a regular basis? (Select all that apply) - Other - Text'),
 (95,
  'Q19_What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice'),
 (96,
  'Q19_What programming language would you recommend an aspiring data scientist to learn first? - Other - Text'),
 (97,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Ggplot / ggplot2 '),
 (98,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Matplotlib '),
 (99,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Altair '),
 (100,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Shiny '),
 (101,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  D3.js '),
 (102,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Plotly / Plotly Express '),
 (103,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Bokeh '),
 (104,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Seaborn '),
 (105,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Geoplotlib '),
 (106,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Leaflet / Folium '),
 (107,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice - None'),
 (108,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice - Other'),
 (109,
  'Q20_What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Other - Text'),
 (110,
  'Q21_Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice - CPUs'),
 (111,
  'Q21_Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice - GPUs'),
 (112,
  'Q21_Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice - TPUs'),
 (113,
  'Q21_Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice - None / I do not know'),
 (114,
  'Q21_Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice - Other'),
 (115,
  'Q21_Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Other - Text'),
 (116, 'Q22_Have you ever used a TPU (tensor processing unit)?'),
 (117, 'Q23_For how many years have you used machine learning methods?'),
 (118,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Linear or Logistic Regression'),
 (119,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Decision Trees or Random Forests'),
 (120,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Gradient Boosting Machines (xgboost, lightgbm, etc)'),
 (121,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Bayesian Approaches'),
 (122,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Evolutionary Approaches'),
 (123,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Dense Neural Networks (MLPs, etc)'),
 (124,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Convolutional Neural Networks'),
 (125,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Generative Adversarial Networks'),
 (126,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Recurrent Neural Networks'),
 (127,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Transformer Networks (BERT, gpt-2, etc)'),
 (128,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - None'),
 (129,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Other'),
 (130,
  'Q24_Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Other - Text'),
 (131,
  'Q25_Which categories of ML tools do you use on a regular basis?  (Select all that apply) - Selected Choice - Automated data augmentation (e.g. imgaug, albumentations)'),
 (132,
  'Q25_Which categories of ML tools do you use on a regular basis?  (Select all that apply) - Selected Choice - Automated feature engineering/selection (e.g. tpot, boruta_py)'),
 (133,
  'Q25_Which categories of ML tools do you use on a regular basis?  (Select all that apply) - Selected Choice - Automated model selection (e.g. auto-sklearn, xcessiv)'),
 (134,

In [253]:
[*range(168,179)]

[168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178]

In [7]:
df = df.iloc[:,[1, 2, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 95, 117, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178]]

In [8]:
df.shape

(19717, 67)

In [10]:
df.head()

,Q1_What is your age (# years)?,Q2_What is your gender? - Selected Choice,Q3_In which country do you currently reside?,Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Q5_Select the title most similar to your current role (or most recent title if retired): - Selected Choice,Q6_What is the size of the company where you are employed?,Q8_Does your current employer incorporate machine learning methods into their business?,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Analyze and understand data to influence product or business decisions,"Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data",Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build prototypes to explore applying machine learning to new areas,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run a machine learning service that operationally improves my product or workflows,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Experimentation and iteration to improve existing ML models,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Do research that advances the state of the art of machine learning,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - None of these activities are an important part of my role at work,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Other,Q10_What is your current yearly compensation (approximate $USD)?,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udacity,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Coursera,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - edX,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataCamp,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataQuest,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Kaggle Courses (i.e. Kaggle Learn),Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Fast.ai,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udemy,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - LinkedIn Learning,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - University Courses (resulting in a university degree),Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - None,Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice,"Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Basic statistical software (Microsoft Excel, Google Sheets, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Advanced statistical software (SPSS, SAS, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Business intelligence software (Salesforce, Tableau, Spotfire, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Local development environments (RStudio, JupyterLab, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Cloud-based data software & APIs (AWS, GCP, Azure, etc.) - Text",Q15_How long have you been writing code to analyze data (at work or at school)?,"Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Jupyter (JupyterLab, Jupyter Notebooks, etc)",Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - RStudio,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - PyCharm,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Atom,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - MATLAB,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Visual Studio / Visual Studio Code,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Spyder,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Vim / Emacs,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Notepad++,Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis? (Select all that apply) - Selected Choice - Sublime Text,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - R,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - SQL,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - C++,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Java,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Javascript,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - TypeScript,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Bash,Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - MATLAB,Q19_What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice,Q23_For how many years have you used machine learning methods?,Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - Google Cloud Platform (GCP),Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - Amazon Web Services (AWS),Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - Microsoft Azure,Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - IBM Cloud,Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - Alibaba Cloud,Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - Salesforce Cloud,Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - Oracle Cloud,Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - SAP Cloud,Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - VMware Cloud,Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - Red Hat Cloud,Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - None
1,22-24,Male,France,Master’s degree,Software Engineer,"1000-9,999 employees",I do not know,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"30,000-39,999",NaN,Coursera,NaN,DataCamp,NaN,Kaggle Courses (i.e. Kaggle Learn),NaN,Udemy,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",0,-1,-1,-1,-1,1-2 years,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,PyCharm,NaN,MATLAB,NaN,Spyder,NaN,NaN,NaN,Python,R,SQL,NaN,NaN,Java,Javascript,NaN,NaN,MATLAB,Python,1-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,40-44,Male,India,Professional degree,Software Engineer,"> 10,000 employees","We have well established ML methods (i.e., mod...",Analyze and understand data to influence produ...,Build and/or run the data infrastructure that ...,Build prototypes to explore applying machine l...,Build and/or run a machine learning service th...,NaN,NaN,NaN,NaN,"5,000-7,499",NaN,Coursera,NaN,DataCamp,NaN,Kaggle Courses (i.e. Kaggle Learn),NaN,Udemy,NaN,NaN,NaN,"Cloud-based data software & APIs (AWS, GCP, Az...",-1,-1,-1,-1,0,I have never written code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55-59,Female,Germany,Professional degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,-1,-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-44,Male,Australia,Master’s degree,Other,"> 10,000 employees",I do not know,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"250,000-299,999",NaN,Coursera,edX,DataCamp,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,"Local development environments (RStudio, Jupyt...",-1,-1,-1,0,-1,1-2 years,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",NaN,NaN,NaN,NaN,Visual Studio / Visual Studio Code,NaN,NaN,NaN,NaN,Python,R,SQL,NaN,NaN,NaN,NaN,NaN,Bash,NaN,Python,2-3 years,NaN,NaN,Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,22-24,Male,India,Bachelor’s degree,Other,0-49 employees,No (we do not use ML methods),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4,000-4,999",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt...",-1,-1,-1,1,-1,< 1 years,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python,< 1 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
age = df.iloc[:,0]

In [12]:
def describe_col(x):
    print(f"Index is: {x}")
    print(f"{x} - {df.iloc[:,x].nunique()} unique values.")
    missing_count = df.iloc[:,x].isnull().sum()
    if missing_count != 0:
        total = len(df.iloc[:,x])
        missing_perc = (missing_count/total)*100
        
        print(f"! Missing values: perc - {missing_perc:0.3f}% count - {missing_count}")
    count = df.iloc[:,x].value_counts(sort=True, dropna=True)
    perc = df.iloc[:,x].value_counts(normalize=True, sort=True, ascending=False, dropna=True)*100
    d = pd.concat([perc, count], axis=1, keys=['Percentage %', 'Count'])
    print(d)
    print("\n")

In [274]:
for i in range(len(df)+1):
    describe_col(i)

Index is: 0
0 - 11 unique values.
       Percentage %  Count
25-29  22.609931     4458
22-24  18.309073     3610
30-34  15.823908     3120
18-21  12.689557     2502
35-39  10.584775     2087
40-44  7.298271      1439
45-49  4.813105      949
50-54  3.509662      692
55-59  2.140285      422
60-69  1.714257      338
70+    0.507177      100


Index is: 1
1 - 4 unique values.
                         Percentage %  Count
Male                     81.848151     16138
Female                   16.290511     3212
Prefer not to say        1.612821      318
Prefer to self-describe  0.248517      49


Index is: 2
2 - 59 unique values.
                                                      Percentage %  Count
India                                                 24.273470     4786
United States of America                              15.646397     3085
Other                                                 5.345641      1054
Brazil                                                3.692245      728
Japan                                                 3.413298      673
Russia                                                3.174925      626
China                                                 2.911193      574
Germany                                               2.693107      531
United Kingdom of Great Britain and Northern Ireland  2.444591      482
Canada                                                2.282294      450
Spain                                                 2.023634      399
Nigeria                                               2.003347      395
France                                                1.962773      387
Taiwan                                                1.526601      301
Turkey                                                1.460668      288
Italy                                                 1.374448      271
Australia                                             1.364305      269
Poland                                                1.075214      212
Pakistan                                              1.065071      210
Mexico                                                0.988994      195
Ukraine                                               0.968707      191
South Korea                                           0.923061      182
Colombia                                              0.852057      168
Indonesia                                             0.846985      167
Netherlands                                           0.816554      161
Singapore                                             0.791195      156
Bangladesh                                            0.689760      136
Viet Nam                                              0.649186      128
Argentina                                             0.623827      123
Morocco                                               0.623827      123
Egypt                                                 0.618755      122
South Africa                                          0.608612      120
Kenya                                                 0.578181      114
Portugal                                              0.578181      114
Greece                                                0.547751      108
Israel                                                0.527464      104
Switzerland                                           0.491961      97
Iran, Islamic Republic of...                          0.486889      96
Sweden                                                0.466602      92
Chile                                                 0.461531      91
Ireland                                               0.451387      89
Malaysia                                              0.405741      80
Peru                                                  0.375311      74
Republic of Korea                                     0.370239      73
Belgium                                               0.355024      70
Tunisia                                               0.344880      68
Belarus                                               0.344880      68
Thailand                                              0.339808      67
Philippines                                           0.329665      65
Hong Kong (S.A.R.)                                    0.324593      64
Romania                                               0.294162      58
Czech Republic                                        0.294162      58
Algeria                                               0.294162      58
Hungary                                               0.284019      56
Denmark                                               0.278947      55
Austria                                               0.268804      53
Norway                                                0.258660      51
New Zealand                                           0.258660      51
Saudi Arabia                                          0.253588      50


Index is: 3
3 - 7 unique values.
! Missing values: perc - 1.998% count - 394
                                                                   Percentage %  \
Master’s degree                                                    44.242612
Bachelor’s degree                                                  31.014853
Doctoral degree                                                    14.319723
Some college/university study without earning a bachelor’s degree  4.331626
Professional degree                                                3.162035
I prefer not to answer                                             1.723335
No formal education past high school                               1.205817

                                                                   Count
Master’s degree                                                    8549
Bachelor’s degree                                                  5993
Doctoral degree                                                    2767
Some college/university study without earning a bachelor’s degree  837
Professional degree                                                611
I prefer not to answer                                             333
No formal education past high school                               233


Index is: 4
4 - 12 unique values.
! Missing values: perc - 3.094% count - 610
                         Percentage %  Count
Data Scientist           21.379599     4085
Student                  21.008008     4014
Software Engineer        14.157115     2705
Other                    8.844926      1690
Data Analyst             8.363427      1598
Research Scientist       7.693515      1470
Not employed             4.930130      942
Business Analyst         4.071806      778
Product/Project Manager  3.783954      723
Data Engineer            3.265819      624
Statistician             1.685246      322
DBA/Database Engineer    0.816455      156


Index is: 5
5 - 5 unique values.
! Missing values: perc - 28.985% count - 5715
                      Percentage %  Count
0-49 employees        28.745893     4025
> 10,000 employees    22.568205     3160
1000-9,999 employees  18.861591     2641
50-249 employees      16.633338     2329
250-999 employees     13.190973     1847


Index is: 6
6 - 6 unique values.
! Missing values: perc - 32.916% count - 6490
                                                                                           Percentage %  \
We are exploring ML methods (and may one day put a model into production)                  21.259545
We recently started using ML methods (i.e., models in production for less than 2 years)    20.647161
We have well established ML methods (i.e., models in production for more than 2 years)     19.112422
No (we do not use ML methods)                                                              18.258108
We use ML methods for generating insights (but do not put working models into production)  11.718455
I do not know                                                                              9.004309

                                                                                           Count
We are exploring ML methods (and may one day put a model into production)                  2812
We recently started using ML methods (i.e., models in production for less than 2 years)    2731
We have well established ML methods (i.e., models in production for more than 2 years)     2528
No (we do not use ML methods)                                                              2415
We use ML methods for generating insights (but do not put working models into production)  1550
I do not know                                                                              1191


Index is: 7
7 - 1 unique values.
! Missing values: perc - 69.108% count - 13626
                                                                        Percentage %  \
Analyze and understand data to influence product or business decisions  100.0

                                                                        Count
Analyze and understand data to influence product or business decisions  6091


Index is: 8
8 - 1 unique values.
! Missing values: perc - 81.914% count - 16151
                                                                                                                  Percentage %  \
Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data  100.0

                                                                                                                  Count
Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data  3566


Index is: 9
9 - 1 unique values.
! Missing values: perc - 74.738% count - 14736
                                                                    Percentage %  \
Build prototypes to explore applying machine learning to new areas  100.0

                                                                    Count
Build prototypes to explore applying machine learning to new areas  4981


Index is: 10
10 - 1 unique values.
! Missing values: perc - 83.020% count - 16369
                                                                                                 Percentage %  \
Build and/or run a machine learning service that operationally improves my product or workflows  100.0

                                                                                                 Count
Build and/or run a machine learning service that operationally improves my product or workflows  3348


Index is: 11
11 - 1 unique values.
! Missing values: perc - 81.209% count - 16012
                                                             Percentage %  \
Experimentation and iteration to improve existing ML models  100.0

                                                             Count
Experimentation and iteration to improve existing ML models  3705


Index is: 12
12 - 1 unique values.
! Missing values: perc - 88.036% count - 17358
                                                                    Percentage %  \
Do research that advances the state of the art of machine learning  100.0

                                                                    Count
Do research that advances the state of the art of machine learning  2359


Index is: 13
13 - 1 unique values.
! Missing values: perc - 97.307% count - 19186
                                                                   Percentage %  \
None of these activities are an important part of my role at work  100.0

                                                                   Count
None of these activities are an important part of my role at work  531


Index is: 14
14 - 1 unique values.
! Missing values: perc - 98.737% count - 19468
       Percentage %  Count
Other  100.0         249


Index is: 15
15 - 25 unique values.
! Missing values: perc - 36.618% count - 7220
                 Percentage %  Count
$0-999           12.106906     1513
10,000-14,999    6.665600      833
100,000-124,999  6.001440      750
30,000-39,999    5.825398      728
40,000-49,999    5.753381      719
50,000-59,999    5.633352      704
1,000-1,999      4.793150      599
60,000-69,999    4.609106      576
5,000-7,499      4.289029      536
15,000-19,999    4.233016      529
20,000-24,999    4.209010      526
70,000-79,999    4.193006      524
125,000-149,999  3.864928      483
25,000-29,999    3.856926      482
150,000-199,999  3.472833      434
7,500-9,999      3.264784      408
80,000-89,999    3.240778      405
2,000-2,999      3.120749      390
90,000-99,999    3.016724      377
3,000-3,999      2.440586      305
4,000-4,999      2.312555      289
200,000-249,999  1.320317      165
> $500,000       0.664159      83
300,000-500,000  0.592142      74
250,000-299,999  0.520125      65


Index is: 16
16 - 1 unique values.
! Missing values: perc - 85.023% count - 16764
         Percentage %  Count
Udacity  100.0         2953


Index is: 17
17 - 1 unique values.
! Missing values: perc - 55.952% count - 11032
          Percentage %  Count
Coursera  100.0         8685


Index is: 18
18 - 1 unique values.
! Missing values: perc - 84.024% count - 16567
     Percentage %  Count
edX  100.0         3150


Index is: 19
19 - 1 unique values.
! Missing values: perc - 80.509% count - 15874
          Percentage %  Count
DataCamp  100.0         3843


Index is: 20
20 - 1 unique values.
! Missing values: perc - 96.232% count - 18974
           Percentage %  Count
DataQuest  100.0         743


Index is: 21
21 - 1 unique values.
! Missing values: perc - 74.038% count - 14598
                                    Percentage %  Count
Kaggle Courses (i.e. Kaggle Learn)  100.0         5119


Index is: 22
22 - 1 unique values.
! Missing values: perc - 92.291% count - 18197
         Percentage %  Count
Fast.ai  100.0         1520


Index is: 23
23 - 1 unique values.
! Missing values: perc - 75.635% count - 14913
       Percentage %  Count
Udemy  100.0         4804


Index is: 24
24 - 1 unique values.
! Missing values: perc - 93.493% count - 18434
                   Percentage %  Count
LinkedIn Learning  100.0         1283


Index is: 25
25 - 1 unique values.
! Missing values: perc - 77.289% count - 15239
                                                       Percentage %  Count
University Courses (resulting in a university degree)  100.0         4478


Index is: 26
26 - 1 unique values.
! Missing values: perc - 92.438% count - 18226
      Percentage %  Count
None  100.0         1491


Index is: 27
27 - 6 unique values.
! Missing values: perc - 20.424% count - 4027
                                                                      Percentage %  \
Local development environments (RStudio, JupyterLab, etc.)            54.015296
Basic statistical software (Microsoft Excel, Google Sheets, etc.)     19.509242
Other                                                                 7.584449
Cloud-based data software & APIs (AWS, GCP, Azure, etc.)              7.571702
Advanced statistical software (SPSS, SAS, etc.)                       5.704270
Business intelligence software (Salesforce, Tableau, Spotfire, etc.)  5.615041

                                                                      Count
Local development environments (RStudio, JupyterLab, etc.)            8475
Basic statistical software (Microsoft Excel, Google Sheets, etc.)     3061
Other                                                                 1190
Cloud-based data software & APIs (AWS, GCP, Azure, etc.)              1188
Advanced statistical software (SPSS, SAS, etc.)                       895
Business intelligence software (Salesforce, Tableau, Spotfire, etc.)  881


Index is: 28
28 - 937 unique values.
     Percentage %  Count
-1   84.480398     16657
1    4.387077      865
0    1.988132      392
12   1.333874      263
26   0.339808      67
..        ...      ..
617  0.005072      1
250  0.005072      1
857  0.005072      1
245  0.005072      1
260  0.005072      1

[937 rows x 2 columns]


Index is: 29
29 - 368 unique values.
     Percentage %  Count
-1   95.460770     18822
2    0.654258      129
1    0.588325      116
30   0.304306      60
8    0.172440      34
4    0.126794      25
28   0.106507      21
18   0.091292      18
5    0.076076      15
44   0.071005      14
115  0.055789      11
75   0.055789      11
79   0.050718      10
103  0.040574      8
82   0.030431      6
95   0.025359      5
152  0.025359      5
53   0.025359      5
25   0.025359      5
37   0.020287      4
106  0.020287      4
17   0.020287      4
32   0.020287      4
40   0.020287      4
93   0.020287      4
69   0.020287      4
34   0.020287      4
88   0.020287      4
35   0.015215      3
137  0.015215      3
55   0.015215      3
132  0.010144      2
59   0.010144      2
253  0.010144      2
90   0.010144      2
179  0.010144      2
172  0.010144      2
247  0.010144      2
52   0.010144      2
16   0.010144      2
85   0.010144      2
153  0.010144      2
140  0.010144      2
138  0.010144      2
47   0.010144      2
182  0.010144      2
56   0.005072      1
178  0.005072      1
352  0.005072      1
269  0.005072      1
174  0.005072      1
278  0.005072      1
249  0.005072      1
98   0.005072      1
248  0.005072      1
163  0.005072      1
285  0.005072      1
235  0.005072      1
252  0.005072      1
202  0.005072      1
70   0.005072      1
282  0.005072      1
310  0.005072      1
165  0.005072      1
19   0.005072      1
109  0.005072      1
229  0.005072      1
51   0.005072      1
279  0.005072      1
203  0.005072      1
243  0.005072      1
141  0.005072      1
251  0.005072      1
23   0.005072      1
24   0.005072      1
333  0.005072      1
337  0.005072      1
351  0.005072      1
221  0.005072      1
345  0.005072      1
228  0.005072      1
10   0.005072      1
305  0.005072      1
268  0.005072      1
0    0.005072      1
108  0.005072      1
365  0.005072      1
193  0.005072      1
64   0.005072      1
296  0.005072      1
177  0.005072      1
267  0.005072      1
45   0.005072      1
14   0.005072      1
324  0.005072      1
126  0.005072      1
39   0.005072      1
258  0.005072      1
9    0.005072      1
327  0.005072      1
107  0.005072      1
101  0.005072      1
242  0.005072      1
92   0.005072      1
62   0.005072      1
73   0.005072      1
136  0.005072      1
133  0.005072      1
289  0.005072      1
357  0.005072      1
231  0.005072      1
144  0.005072      1
123  0.005072      1
271  0.005072      1
80   0.005072      1
216  0.005072      1
50   0.005072      1
63   0.005072      1
302  0.005072      1
292  0.005072      1
314  0.005072      1
343  0.005072      1
147  0.005072      1
270  0.005072      1
22   0.005072      1
58   0.005072      1
209  0.005072      1
238  0.005072      1
212  0.005072      1
154  0.005072      1
206  0.005072      1
121  0.005072      1
171  0.005072      1
46   0.005072      1
160  0.005072      1
68   0.005072      1
281  0.005072      1
169  0.005072      1
42   0.005072      1
257  0.005072      1
67   0.005072      1
195  0.005072      1
57   0.005072      1
166  0.005072      1
364  0.005072      1
197  0.005072      1
33   0.005072      1
86   0.005072      1
266  0.005072      1
71   0.005072      1
175  0.005072      1
273  0.005072      1
78   0.005072      1
344  0.005072      1
262  0.005072      1
143  0.005072      1
309  0.005072      1
158  0.005072      1
328  0.005072      1
170  0.005072      1
241  0.005072      1
21   0.005072      1
321  0.005072      1
280  0.005072      1
233  0.005072      1
360  0.005072      1
254  0.005072      1
223  0.005072      1
326  0.005072      1
119  0.005072      1
234  0.005072      1
342  0.005072      1
49   0.005072      1
275  0.005072      1
284  0.005072      1
83   0.005072      1
303  0.005072      1
87   0.005072      1
347  0.005072      1
97   0.005072      1
323  0.005072      1
104  0.005072      1
219  0.005072      1
117  0.005072      1
61   0.005072      1
96   0.005072      1
214  0.005072      1

IndexError: single positional indexer is out-of-bounds

In [13]:
# Replacing values
df.iloc[:,2].replace(to_replace = "United Kingdom of Great Britain and Northern Ireland", value ="UK", inplace=True)
df.iloc[:,2].replace(to_replace = "United States of America", value ="USA", inplace=True)
df.iloc[:,2].replace(to_replace = "Hong Kong (S.A.R.)", value ="Hong Kong", inplace=True)
df.iloc[:,2].replace(to_replace = "Republic of Korea", value ="South Korea", inplace=True)
df.iloc[:,2].replace(to_replace = "Iran, Islamic Republic of...", value ="Iran", inplace=True)

In [14]:
df.iloc[:,2].replace(to_replace = "Viet Nam", value ="Vietnam", inplace=True)

In [15]:
[*df.iloc[:,3].unique()]

['Master’s degree',
 'Professional degree',
 'Bachelor’s degree',
 'Some college/university study without earning a bachelor’s degree',
 'Doctoral degree',
 'I prefer not to answer',
 'No formal education past high school',
 nan]

In [19]:
describe_col(3)

Index is: 3
3 - 7 unique values.
! Missing values: perc - 1.998% count - 394
                  Percentage %  Count
Master               44.242612   8549
Bachelor             31.014853   5993
PhD                  14.319723   2767
Some College/Uni      4.331626    837
Professional          3.162035    611
Not Specified         1.723335    333
High School           1.205817    233

In [17]:
edu_dict = {'Master’s degree': "Master",
 'Professional degree': "Professional",
 'Bachelor’s degree': "Bachelor",
 'Some college/university study without earning a bachelor’s degree': "Some College/Uni",
 'Doctoral degree': "PhD",
 'I prefer not to answer': "Not Specified",
 'No formal education past high school': "High School"
           }

In [18]:
df.iloc[:,3].replace(to_replace = edu_dict.keys(), value = edu_dict.values(), inplace=True)

In [20]:
[*df.iloc[:,6].unique()]

['I do not know',
 'We have well established ML methods (i.e., models in production for more than 2 years)',
 nan,
 'No (we do not use ML methods)',
 'We are exploring ML methods (and may one day put a model into production)',
 'We recently started using ML methods (i.e., models in production for less than 2 years)',
 'We use ML methods for generating insights (but do not put working models into production)']

In [22]:
df.iloc[:,4].replace(to_replace = "DBA/Database Engineer", value = "Database Engineer", inplace=True)
df.iloc[:,4].replace(to_replace = "Data Analyst", value = "Business Analyst", inplace=True) # CHEATING
df.iloc[:,4].replace(to_replace = "Product/Project Manager", value = "Project Manager", inplace=True)

In [27]:
describe_col(4)

Index is: 4
4 - 11 unique values.
! Missing values: perc - 3.094% count - 610
                    Percentage %  Count
Data Scientist         21.379599   4085
Student                21.008008   4014
Software Engineer      14.157115   2705
Business Analyst       12.435233   2376
Other                   8.844926   1690
Research Scientist      7.693515   1470
Not employed            4.930130    942
Project Manager         3.783954    723
Data Engineer           3.265819    624
Statistician            1.685246    322
Database Engineer       0.816455    156

In [24]:
ml_dict = {'I do not know': "I do not know",
 'We have well established ML methods (i.e., models in production for more than 2 years)': "More than 2 years",
 'No (we do not use ML methods)': "No models",
 'We are exploring ML methods (and may one day put a model into production)': "Exploring",
 'We recently started using ML methods (i.e., models in production for less than 2 years)': "Less than 2 years",
 'We use ML methods for generating insights (but do not put working models into production)': "No models"}

In [25]:
df.iloc[:,6].replace(to_replace = ml_dict.keys(), value = ml_dict.values(), inplace=True)

In [28]:
describe_col(6)

Index is: 6
6 - 5 unique values.
! Missing values: perc - 32.916% count - 6490
                   Percentage %  Count
No models             29.976563   3965
Exploring             21.259545   2812
Less than 2 years     20.647161   2731
More than 2 years     19.112422   2528
I do not know          9.004309   1191

In [29]:
describe_col(7)

Index is: 7
7 - 1 unique values.
! Missing values: perc - 69.108% count - 13626
                                                    Percentage %  Count
Analyze and understand data to influence produc...         100.0   6091

In [315]:
[*range(7,15)]

[7, 8, 9, 10, 11, 12, 13, 14]

In [372]:
# QUESTION: Select any activities that make up an important part of your role at work
Q9 = df.iloc[:,[7, 8, 9, 10, 11, 12, 13, 14]]
Q? =

In [373]:
a = "Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - "
len(a)
a[:122]

,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Analyze and understand data to influence product or business decisions,"Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data",Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build prototypes to explore applying machine learning to new areas,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Build and/or run a machine learning service that operationally improves my product or workflows,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Experimentation and iteration to improve existing ML models,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Do research that advances the state of the art of machine learning,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - None of these activities are an important part of my role at work,Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Other
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Analyze and understand data to influence product or business decisions,"Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data",Build prototypes to explore applying machine learning to new areas,Build and/or run a machine learning service that operationally improves my product or workflows,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
19713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
19717,NaN,"Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data",Build prototypes to explore applying machine learning to new areas,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Clean list of columns
q9names = []
for i in range(len(Q9.columns)):
    x = Q9.columns[i][122:] # CHANGE NUMBER
    q9names.append(x)
    
Q9.columns = q9names

# Binarization
Q9.fillna(0, inplace=True)

for i in Q9.columns:
    Q9.replace(i, 1, inplace=True)

In [404]:
Q9

,Analyze and understand data to influence product or business decisions,"Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data",Build prototypes to explore applying machine learning to new areas,Build and/or run a machine learning service that operationally improves my product or workflows,Experimentation and iteration to improve existing ML models,Do research that advances the state of the art of machine learning,None of these activities are an important part of my role at work,Other
1,0,0,0,0,0,0,0,0
2,1,1,1,1,0,0,0,0
3,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
19713,0,0,0,0,0,0,0,0
19714,0,0,0,0,0,0,0,0
19715,0,0,0,0,0,0,0,0
19716,0,0,0,0,0,0,0,1
19717,0,1,1,0,0,0,0,0

In [327]:
y = 'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Analyze and understand data to influence product or business decisions'
y.replace("Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - ", "")

'Analyze and understand data to influence product or business decisions'

In [337]:
x = [*Q9.columns]
for i in x:
    i.replace("Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - ", "")

AttributeError: 'str' object has no attribute 'str'

'Q9_Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - '

In [402]:
Q9.head()

,Analyze and understand data to influence product or business decisions,"Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data",Build prototypes to explore applying machine learning to new areas,Build and/or run a machine learning service that operationally improves my product or workflows,Experimentation and iteration to improve existing ML models,Do research that advances the state of the art of machine learning,None of these activities are an important part of my role at work,Other
1,0,0,0,0,0,0,0,0
2,1,1,1,1,0,0,0,0
3,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0

In [32]:
describe_col(15)

Index is: 15
15 - 7 unique values.
! Missing values: perc - 36.618% count - 7220
                 Percentage %  Count
0-9,999             32.327759   4040
10,000-29,999       18.964551   2370
50,000-79,999       14.435465   1804
100,000-199,999     13.339201   1667
30,000-49,999       11.578779   1447
80,000-99,999        6.257502    782
> 200,000            3.096743    387

In [409]:
[*df.iloc[:,15].unique()]

['30,000-49,999',
 '0-9,999',
 nan,
 '> 200,000',
 '50,000-79,999',
 '10,000-29,999',
 '80,000-99,999',
 '100,000-199,999']

In [31]:
salary_dict = {'30,000-39,999': "30,000-49,999",
 '5,000-7,499': "0-9,999",
 '250,000-299,999': "> 200,000",
 '4,000-4,999': "0-9,999",
 '60,000-69,999': "50,000-79,999",
 '10,000-14,999': "10,000-29,999",
 '80,000-89,999': "80,000-99,999",
 '$0-999': "0-9,999",
 '2,000-2,999': "0-9,999",
 '70,000-79,999': "50,000-79,999",
 '90,000-99,999': "80,000-99,999",
 '125,000-149,999': "100,000-199,999",
 '40,000-49,999': "30,000-49,999",
 '20,000-24,999': "10,000-29,999",
 '15,000-19,999': "10,000-29,999",
 '100,000-124,999': "100,000-199,999",
 '7,500-9,999': "0-9,999",
 '150,000-199,999': "100,000-199,999",
 '25,000-29,999': "10,000-29,999",
 '3,000-3,999': "0-9,999",
 '1,000-1,999': "0-9,999",
 '200,000-249,999': "> 200,000",
 '50,000-59,999': "50,000-79,999",
 '> $500,000': "> 200,000",
 '300,000-500,000': "> 200,000"
    
}
df.iloc[:,15].replace(to_replace = salary_dict.keys(), value = salary_dict.values(), inplace=True)

In [419]:
Q13 = df.iloc[:,[16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]]

In [420]:
Q13.head()

,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udacity,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Coursera,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - edX,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataCamp,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataQuest,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Kaggle Courses (i.e. Kaggle Learn),Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Fast.ai,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udemy,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - LinkedIn Learning,Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - University Courses (resulting in a university degree),Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - None
1,NaN,Coursera,NaN,DataCamp,NaN,Kaggle Courses (i.e. Kaggle Learn),NaN,Udemy,NaN,NaN,NaN
2,NaN,Coursera,NaN,DataCamp,NaN,Kaggle Courses (i.e. Kaggle Learn),NaN,Udemy,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Coursera,edX,DataCamp,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university degree),NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [423]:
a = "Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - "
len(a)
a[:117]

'Q13_On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - '

In [425]:
# Clean list of columns
q13names = []
for i in range(len(Q13.columns)):
    x = Q13.columns[i][len(a):] # CHANGE NUMBER
    q13names.append(x)
    
Q13.columns = q13names

# Binarization
Q13.fillna(0, inplace=True)

for i in Q13.columns:
    Q13.replace(i, 1, inplace=True)

In [426]:
Q13.head()

,Udacity,Coursera,edX,DataCamp,DataQuest,Kaggle Courses (i.e. Kaggle Learn),Fast.ai,Udemy,LinkedIn Learning,University Courses (resulting in a university degree),None
1,0,1,0,1,0,1,0,1,0,0,0
2,0,1,0,1,0,1,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,0,1,1,1,0,0,0,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,0

In [427]:
[*Q13.columns]

['Udacity',
 'Coursera',
 'edX',
 'DataCamp',
 'DataQuest',
 'Kaggle Courses (i.e. Kaggle Learn)',
 'Fast.ai',
 'Udemy',
 'LinkedIn Learning',
 'University Courses (resulting in a university degree)',
 'None']

In [428]:
Q13.columns = ['Udacity',
 'Coursera',
 'edX',
 'DataCamp',
 'DataQuest',
 'Kaggle Courses',
 'Fast.ai',
 'Udemy',
 'LinkedIn Learning',
 'University Courses',
 'None']

In [431]:
Q13

,Udacity,Coursera,edX,DataCamp,DataQuest,Kaggle Courses,Fast.ai,Udemy,LinkedIn Learning,University Courses,None
1,0,1,0,1,0,1,0,1,0,0,0
2,0,1,0,1,0,1,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,0,1,1,1,0,0,0,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
19713,0,0,0,0,0,0,0,0,0,0,0
19714,0,0,0,1,0,0,0,1,0,0,0
19715,0,1,0,0,0,1,0,0,0,0,0
19716,0,0,0,0,0,0,0,0,0,0,0
19717,0,1,1,0,0,0,0,1,0,0,0

In [434]:
df.to_csv("KaggleCleaned.csv")
Q9.to_csv("Question9.csv")
Q13.to_csv("Question13.csv")

In [506]:
Q14 = df.iloc[:,[27, 28, 29, 30, 31, 32]]

In [507]:
Q14.head()

,Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice,"Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Basic statistical software (Microsoft Excel, Google Sheets, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Advanced statistical software (SPSS, SAS, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Business intelligence software (Salesforce, Tableau, Spotfire, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Local development environments (RStudio, JupyterLab, etc.) - Text","Q14_What is the primary tool that you use at work or school to analyze data? (Include text response) - Cloud-based data software & APIs (AWS, GCP, Azure, etc.) - Text"
1,"Basic statistical software (Microsoft Excel, Google Sheets, etc.)",0,-1,-1,-1,-1
2,"Cloud-based data software & APIs (AWS, GCP, Azure, etc.)",-1,-1,-1,-1,0
3,NaN,-1,-1,-1,-1,-1
4,"Local development environments (RStudio, JupyterLab, etc.)",-1,-1,-1,0,-1
5,"Local development environments (RStudio, JupyterLab, etc.)",-1,-1,-1,1,-1

In [489]:
q14array = Q14.to_numpy()

In [492]:
q14array = q14array.astype('int64')

In [497]:
len(q14array)

19717

In [504]:
sums = []
for i in q14array:
    s = 0
    for j in i:
        if j == -1:
            s += j
    sums.append(s)

In [505]:
np.unique(sums)

array([-5, -4])

In [35]:
describe_col(27)

Index is: 27
27 - 6 unique values.
! Missing values: perc - 20.424% count - 4027
                             Percentage %  Count
Local IDE                       54.015296   8475
Excel                           19.509242   3061
Other                            7.584449   1190
Cloud-based                      7.571702   1188
Paid Closed-Source Software      5.704270    895
BI Tools                         5.615041    881

In [511]:
[*df.iloc[:,27].unique()]

['Basic statistical software (Microsoft Excel, Google Sheets, etc.)',
 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)',
 nan,
 'Local development environments (RStudio, JupyterLab, etc.)',
 'Advanced statistical software (SPSS, SAS, etc.)',
 'Other',
 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)']

In [34]:
q14_dict = {
    'Basic statistical software (Microsoft Excel, Google Sheets, etc.)': "Excel",
 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)': "Cloud-based",
 'Local development environments (RStudio, JupyterLab, etc.)': "Local IDE",
 'Advanced statistical software (SPSS, SAS, etc.)': "Paid Closed-Source Software",
 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)': "BI Tools"
}

df.iloc[:,27].replace(to_replace = q14_dict.keys(), value = q14_dict.values(), inplace=True)

In [36]:
[*df.iloc[:,33].unique()]

['1-2 years',
 'I have never written code',
 nan,
 '< 1 years',
 '20+ years',
 '3-5 years',
 '5-10 years',
 '10-20 years']

In [518]:
Q16 = df.iloc[:,[34, 35, 36, 37, 38, 39, 40, 41, 42, 43]]

In [522]:
a = "Q16_Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice - "
len(a)

147

In [523]:
# Clean list of columns
q16names = []
for i in range(len(Q16.columns)):
    x = Q16.columns[i][len(a):] # CHANGE NUMBER
    q16names.append(x)
    
Q16.columns = q16names

# Binarization
Q16.fillna(0, inplace=True)

for i in Q16.columns:
    Q16.replace(i, 1, inplace=True)

In [526]:
[*Q16.columns]

['Jupyter (JupyterLab, Jupyter Notebooks, etc) ',
 ' RStudio ',
 ' PyCharm ',
 ' Atom ',
 ' MATLAB ',
 ' Visual Studio / Visual Studio Code ',
 '  Spyder  ',
 '  Vim / Emacs  ',
 '  Notepad++  ',
 '  Sublime Text  ']

In [527]:
Q16.columns = ['Jupyter',
 'R_Studio',
 'PyCharm',
 'Atom',
 'MATLAB',
 'Visual Studio',
 'Spyder',
 'Vim / Emacs',
 'Notepad++',
 'Sublime Text']

In [528]:
[*Q16.columns]

['Jupyter',
 'R_Studio',
 'PyCharm',
 'Atom',
 'MATLAB',
 'Visual Studio',
 'Spyder',
 'Vim / Emacs',
 'Notepad++',
 'Sublime Text']

In [531]:
Q16.to_csv("Question16.csv")

In [545]:
Q18 = df.iloc[:,[44, 45, 46, 47, 48, 49, 50, 51, 52, 53]]

In [546]:
a = "Q18_What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - "
len(a)

106

In [547]:
# Clean list of columns
q18names = []
for i in range(len(Q18.columns)):
    x = Q18.columns[i][len(a):] # CHANGE NUMBER
    q18names.append(x)
    
Q18.columns = q18names

# Binarization
Q18.fillna(0, inplace=True)

for i in Q18.columns:
    Q18.replace(i, 1, inplace=True)

In [548]:
[*Q18.columns]

['Python',
 'R',
 'SQL',
 'C',
 'C++',
 'Java',
 'Javascript',
 'TypeScript',
 'Bash',
 'MATLAB']

In [536]:
Q18.to_csv("Question18.csv")

In [563]:
[*df.iloc[:,54].unique()]

['Python',
 nan,
 'Java',
 'R',
 'SQL',
 'C++',
 'None',
 'Other',
 'C',
 'MATLAB',
 'TypeScript',
 'Javascript',
 'Bash']

In [564]:
[*df.iloc[:,55].unique()]

['1-2 years',
 nan,
 '2-3 years',
 '< 1 years',
 '10-15 years',
 '3-4 years',
 '4-5 years',
 '5-10 years',
 '20+ years']

In [549]:
Q29 = df.iloc[:,[56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66]]

In [550]:
a = "Q29_Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice - "
len(a)

128

In [551]:
# Clean list of columns
q29names = []
for i in range(len(Q29.columns)):
    x = Q29.columns[i][len(a):] # CHANGE NUMBER
    q29names.append(x)
    
Q29.columns = q29names

# Binarization
Q29.fillna(0, inplace=True)

for i in Q29.columns:
    Q29.replace(i, 1, inplace=True)

In [553]:
[*Q29.columns]

[' Google Cloud Platform (GCP) ',
 ' Amazon Web Services (AWS) ',
 ' Microsoft Azure ',
 ' IBM Cloud ',
 ' Alibaba Cloud ',
 ' Salesforce Cloud ',
 ' Oracle Cloud ',
 ' SAP Cloud ',
 ' VMware Cloud ',
 ' Red Hat Cloud ',
 'None']

In [554]:
Q29.columns = ['Google Cloud Platform',
 'Amazon Web Services',
 'Microsoft Azure',
 'IBM Cloud',
 'Alibaba Cloud',
 'Salesforce Cloud',
 'Oracle Cloud',
 'SAP Cloud',
 'VMware Cloud',
 'Red Hat Cloud',
 'None']

In [555]:
Q29

,Google Cloud Platform,Amazon Web Services,Microsoft Azure,IBM Cloud,Alibaba Cloud,Salesforce Cloud,Oracle Cloud,SAP Cloud,VMware Cloud,Red Hat Cloud,None
1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
19713,0,0,0,0,0,0,0,0,0,0,0
19714,0,0,0,0,0,0,0,0,0,0,0
19715,0,0,0,0,0,0,0,0,0,0,0
19716,0,0,0,0,0,0,0,0,0,0,0
19717,0,0,0,0,0,0,0,0,0,0,0

In [556]:
Q29.to_csv("Question29.csv")

In [39]:
x = [7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35,
     36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66]

In [578]:
len(df.columns)

11

In [579]:
len(x)

56

In [55]:
df2 = df.copy()

In [47]:
x_name = df.columns[x]

In [53]:
x_name_list = [*x_name]

In [43]:
df.shape

(19717, 67)

In [57]:
for i in x_name_list:
    df2.drop(i, axis=1, inplace=True)

In [58]:
df2.shape

(19717, 11)

In [59]:
df2.head()

,Q1_What is your age (# years)?,Q2_What is your gender? - Selected Choice,Q3_In which country do you currently reside?,Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Q5_Select the title most similar to your current role (or most recent title if retired): - Selected Choice,Q6_What is the size of the company where you are employed?,Q8_Does your current employer incorporate machine learning methods into their business?,Q10_What is your current yearly compensation (approximate $USD)?,Q15_How long have you been writing code to analyze data (at work or at school)?,Q19_What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice,Q23_For how many years have you used machine learning methods?
1,22-24,Male,France,Master,Software Engineer,"1000-9,999 employees",I do not know,"30,000-49,999",1-2 years,Python,1-2 years
2,40-44,Male,India,Professional,Software Engineer,"> 10,000 employees",More than 2 years,"0-9,999",I have never written code,NaN,NaN
3,55-59,Female,Germany,Professional,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-44,Male,Australia,Master,Other,"> 10,000 employees",I do not know,"> 200,000",1-2 years,Python,2-3 years
5,22-24,Male,India,Bachelor,Other,0-49 employees,No models,"0-9,999",< 1 years,Python,< 1 years

In [60]:
df2.to_csv("CleanedDF.csv")

In [66]:
df_clean = pd.read_csv("Processed/CleanedDF.csv")
Q9 = pd.read_csv("Processed/Question9.csv", index_col=0) # Important activities on job (analyze date)
Q13 = pd.read_csv("Processed/Question13.csv", index_col=0) # Which platform you completed DS courses?
Q16 = pd.read_csv("Processed/Question16.csv", index_col=0) # IDE
Q18 = pd.read_csv("Processed/Question18.csv", index_col=0) # Programming Languages
Q29 = pd.read_csv("Processed/Question29.csv", index_col=0) # Cloud Computing Platform

## VISUALIZATIONS
**!! Always include SAMPLE SIZE !**

In [67]:
df_clean

,Unnamed: 0,Q1_What is your age (# years)?,Q2_What is your gender? - Selected Choice,Q3_In which country do you currently reside?,Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Q5_Select the title most similar to your current role (or most recent title if retired): - Selected Choice,Q6_What is the size of the company where you are employed?,Q8_Does your current employer incorporate machine learning methods into their business?,Q10_What is your current yearly compensation (approximate $USD)?,Q15_How long have you been writing code to analyze data (at work or at school)?,Q19_What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice,Q23_For how many years have you used machine learning methods?
0,1,22-24,Male,France,Master,Software Engineer,"1000-9,999 employees",I do not know,"30,000-49,999",1-2 years,Python,1-2 years
1,2,40-44,Male,India,Professional,Software Engineer,"> 10,000 employees",More than 2 years,"0-9,999",I have never written code,NaN,NaN
2,3,55-59,Female,Germany,Professional,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,40-44,Male,Australia,Master,Other,"> 10,000 employees",I do not know,"> 200,000",1-2 years,Python,2-3 years
4,5,22-24,Male,India,Bachelor,Other,0-49 employees,No models,"0-9,999",< 1 years,Python,< 1 years
...,...,...,...,...,...,...,...,...,...,...,...,...
19712,19713,50-54,Male,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19713,19714,18-21,Male,India,Bachelor,Other,250-999 employees,I do not know,"0-9,999",1-2 years,NaN,NaN
19714,19715,35-39,Male,India,Master,Student,NaN,NaN,NaN,NaN,NaN,NaN
19715,19716,25-29,Male,India,Master,Statistician,50-249 employees,Less than 2 years,"0-9,999",NaN,NaN,NaN
19716,19717,50-54,Male,France,Bachelor,Software Engineer,"> 10,000 employees",More than 2 years,"50,000-79,999",3-5 years,Python,4-5 years

In [68]:
Q16.head()

,Jupyter,R_Studio,PyCharm,Atom,MATLAB,Visual Studio,Spyder,Vim / Emacs,Notepad++,Sublime Text
1,1,1,1,0,1,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,1,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0

In [ ]:
def add_vcp(olddf, indexcol, newname):
    """Pass a df and the index of the column,
    returns the unique values, count and percentage as a new df"""
    newdf = pd.DataFrame()
    values = olddf.iloc[:,indexcol].value_counts().keys()
    counts = olddf.iloc[:,indexcol].value_counts()
    percentages = olddf.iloc[:,indexcol].value_counts(normalize=True)
    newdf[f"{newname}_values"] = values.to_numpy()
    newdf[f"{newname}_counts"] = counts.to_numpy()
    newdf[f"{newname}_percentage"] = percentages.to_numpy()
    return newdf

from collections import OrderedDict

def group_cols(olddf, d):
    """Pass a df, a dictionary with key indexes of cols, values name of cols. {0:"hello"}"""
    zero = [0]
    j = [*d.keys()]
    newdf = olddf.iloc[:,zero+j].groupby([*olddf.columns[j]]).count()
    newdf.reset_index(level=0, inplace=True)
    newdf.reset_index(level=0, inplace=True)
    
    count_class_1 = olddf.iloc[:,zero+[j[0]]].groupby([*olddf.columns[[j[0]]]]).count()
    count_class_1.reset_index(level=0, inplace=True)
    merged_1 = newdf.merge(count_class_1, on = count_class_1.columns[0])
    merged_1.columns = [f"{d[j[1]]}",
                        f"{d[j[0]]}",
                        f"{d[j[0]]}_{d[j[1]]}_count",
                        f"{d[j[0]]}_total_class"]
    merged_1[f"{d[j[0]]}_perc"] = merged_1.loc[:,f"{d[j[0]]}_{d[j[1]]}_count"]/merged_1.loc[:,f"{d[j[0]]}_total_class"]*100
    
    count_class_2 = merged_1.groupby(f"{d[j[1]]}").sum()
    count_class_2.reset_index(level=0, inplace=True)
    count_class_2 = count_class_2.iloc[:,:2]
    count_class_2.columns = [f"{d[j[1]]}", f"{d[j[1]]}_total_class"]
    count_class_2 = merged_1.merge(count_class_2, on = f"{d[j[1]]}")
    count_class_2[f"{d[j[1]]}_perc"] = count_class_2.loc[:,f"{d[j[0]]}_{d[j[1]]}_count"]/count_class_2.loc[:,f"{d[j[1]]}_total_class"]*100
    return count_class_2

In [397]:
d = {8: "salary",
    2: "gender"}
gender_salary = group_cols(df_clean, d)
gender_salary.to_csv("gender_salary.csv")

In [352]:
d = {2: "gender", 8: "salary"}
group_cols(df_clean, d)

,salary,gender,comb_count,gender_total_class,gender_perc
0,"0-9,999",Female,745,3212,23.194271
1,"10,000-29,999",Female,321,3212,9.993773
2,"100,000-199,999",Female,210,3212,6.537983
3,"30,000-49,999",Female,187,3212,5.821918
4,"50,000-79,999",Female,230,3212,7.160648
5,"80,000-99,999",Female,110,3212,3.424658
6,"> 200,000",Female,24,3212,0.747198
7,"0-9,999",Male,3234,16138,20.039658
8,"10,000-29,999",Male,2016,16138,12.492254
9,"100,000-199,999",Male,1424,16138,8.823894
10,"30,000-49,999",Male,1244,16138,7.708514
11,"50,000-79,999",Male,1544,16138,9.567480
12,"80,000-99,999",Male,662,16138,4.102119
13,"> 200,000",Male,349,16138,2.162598
14,"0-9,999",Prefer not to say,53,318,16.666667
15,"10,000-29,999",Prefer not to say,30,318,9.433962
16,"100,000-199,999",Prefer not to say,27,318,8.490566
17,"30,000-49,999",Prefer not to say,14,318,4.402516
18,"50,000-79,999",Prefer not to say,23,318,7.232704
19,"80,000-99,999",Prefer not to say,9,318,2.830189
20,"> 200,000",Prefer not to say,11,318,3.459119
21,"0-9,999",Prefer to self-describe,8,49,16.326531
22,"10,000-29,999",Prefer to self-describe,3,49,6.122449
23,"100,000-199,999",Prefer to self-describe,6,49,12.244898
24,"30,000-49,999",Prefer to self-describe,2,49,4.081633
25,"50,000-79,999",Prefer to self-describe,7,49,14.285714
26,"80,000-99,999",Prefer to self-describe,1,49,2.040816
27,"> 200,000",Prefer to self-describe,3,49,6.122449

In [150]:
def tricky_ones(olddf, question, d):
    """Già fatta"""
    zero = [0]
    j = [*d.keys()]
    
    question.reset_index(drop=True, inplace=True)
    newdf = pd.concat([olddf.iloc[:,j[0]],question],axis=1)
    newdf.rename(columns={newdf.columns[0]: d[j[0]]},inplace=True)
    
    newdf = newdf.groupby(d[j[0]],as_index=False).sum()\
                .melt(id_vars=d[j[0]],var_name=d[j[1]],value_name="comb_count")
    
    count_class_1 = newdf.groupby(d[j[0]],as_index=False).sum()
    count_class_1.rename(columns={"comb_count": f"{d[j[0]]}_total_class"},inplace=True)                             
    newdf = newdf.merge(count_class_1, on=d[j[0]])
    newdf[f"{d[j[0]]}_perc"] = np.round(newdf.loc[:,"comb_count"]/newdf.loc[:,f"{d[j[0]]}_total_class"]*100,2)
    
    count_class_2 = newdf.iloc[:,1:3].groupby(d[j[1]],as_index=False).sum()
    count_class_2.rename(columns={"comb_count": f"{d[j[1]]}_total_class"},inplace=True)                             
    newdf = newdf.merge(count_class_2, on=d[j[1]])
    newdf[f"{d[j[1]]}_perc"] = np.round(newdf.loc[:,"comb_count"]/newdf.loc[:,f"{d[j[1]]}_total_class"]*100,2)
    

    return newdf

In [148]:
d = {5:"Jobrole", 0:"IDE"} 
# for the first element of the dictionary, specify both index (as key) in the df_clean dataframe 
# and the name (as value) we would like to put
# for the second element of the dictionary, the key is not important since it's not used,
# while the values has to correspond to the name we would like to put for that variable

question = Q16
question.reset_index(drop=True, inplace=True)
question.head()

,Jupyter,R_Studio,PyCharm,Atom,MATLAB,Visual Studio,Spyder,Vim / Emacs,Notepad++,Sublime Text
0,1,1,1,0,1,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0

In [153]:
tricky_ones(df_clean, question, d).sort_values(["Jobrole","Jobrole_perc"])

,Jobrole,IDE,comb_count,Jobrole_total_class,Jobrole_perc,IDE_total_class,IDE_perc
77,Business Analyst,Vim / Emacs,84,4068,2.06,1782,4.71
44,Business Analyst,MATLAB,138,4068,3.39,1768,7.81
33,Business Analyst,Atom,142,4068,3.49,1487,9.55
99,Business Analyst,Sublime Text,252,4068,6.19,2655,9.49
22,Business Analyst,PyCharm,346,4068,8.51,4224,8.19
55,Business Analyst,Visual Studio,390,4068,9.59,4534,8.60
66,Business Analyst,Spyder,402,4068,9.88,3085,13.03
88,Business Analyst,Notepad++,435,4068,10.69,3281,13.26
11,Business Analyst,R_Studio,728,4068,17.90,4455,16.34
0,Business Analyst,Jupyter,1151,4068,28.29,10804,10.65
45,Data Engineer,MATLAB,41,1357,3.02,1768,2.32
34,Data Engineer,Atom,56,1357,4.13,1487,3.77
67,Data Engineer,Spyder,92,1357,6.78,3085,2.98
78,Data Engineer,Vim / Emacs,95,1357,7.00,1782,5.33
100,Data Engineer,Sublime Text,97,1357,7.15,2655,3.65
12,Data Engineer,R_Studio,131,1357,9.65,4455,2.94
89,Data Engineer,Notepad++,150,1357,11.05,3281,4.57
23,Data Engineer,PyCharm,163,1357,12.01,4224,3.86
56,Data Engineer,Visual Studio,176,1357,12.97,4534,3.88
1,Data Engineer,Jupyter,356,1357,26.23,10804,3.30
46,Data Scientist,MATLAB,252,9406,2.68,1768,14.25
35,Data Scientist,Atom,364,9406,3.87,1487,24.48
79,Data Scientist,Vim / Emacs,467,9406,4.96,1782,26.21
101,Data Scientist,Sublime Text,701,9406,7.45,2655,26.40
68,Data Scientist,Spyder,704,9406,7.48,3085,22.82
90,Data Scientist,Notepad++,747,9406,7.94,3281,22.77
57,Data Scientist,Visual Studio,964,9406,10.25,4534,21.26
24,Data Scientist,PyCharm,1148,9406,12.20,4224,27.18
13,Data Scientist,R_Studio,1268,9406,13.48,4455,28.46
2,Data Scientist,Jupyter,2791,9406,29.67,10804,25.83
47,Database Engineer,MATLAB,6,288,2.08,1768,0.34
102,Database Engineer,Sublime Text,9,288,3.12,2655,0.34
36,Database Engineer,Atom,15,288,5.21,1487,1.01
80,Database Engineer,Vim / Emacs,20,288,6.94,1782,1.12
25,Database Engineer,PyCharm,21,288,7.29,4224,0.50
69,Database Engineer,Spyder,25,288,8.68,3085,0.81
58,Database Engineer,Visual Studio,38,288,13.19,4534,0.84
14,Database Engineer,R_Studio,39,288,13.54,4455,0.88
91,Database Engineer,Notepad++,49,288,17.01,3281,1.49
3,Database Engineer,Jupyter,66,288,22.92,10804,0.61
81,Not employed,Vim / Emacs,59,1740,3.39,1782,3.31
37,Not employed,Atom,76,1740,4.37,1487,5.11
103,Not employed,Sublime Text,90,1740,5.17,2655,3.39
48,Not employed,MATLAB,101,1740,5.80,1768,5.71
92,Not employed,Notepad++,157,1740,9.02,3281,4.79
59,Not employed,Visual Studio,168,1740,9.66,4534,3.71
70,Not employed,Spyder,171,1740,9.83,3085,5.54
26,Not employed,PyCharm,173,1740,9.94,4224,4.10
15,Not employed,R_Studio,187,1740,10.75,4455,4.20
4,Not employed,Jupyter,558,1740,32.07,10804,5.16
38,Other,Atom,91,2722,3.34,1487,6.12
49,Other,MATLAB,118,2722,4.34,1768,6.67
82,Other,Vim / Emacs,146,2722,5.36,1782,8.19
104,Other,Sublime Text,154,2722,5.66,2655,5.80
93,Other,Notepad++,244,2722,8.96,3281,7.44
71,Other,Spyder,245,2722,9.00,3085,7.94
27,Other,PyCharm,260,2722,9.55,4224,6.16
60,Other,Visual Studio,303,2722,11.13,4534,6.68
16,Other,R_Studio,345,2722,12.67,4455,7.74
5,Other,Jupyter,816,2722,29.98,10804,7.55
83,Project Manager,Vim / Emacs,54,1433,3.77,1782,3.03
39,Project Manager,Atom,65,1433,4.54,1487,4.37
50,Project Manager,MATLAB,67,1433,4.68,1768,3.79
72,Project Manager,Spyder,93,1433,6.49,3085,3.01
105,Project Manager,Sublime Text,101,1433,7.05,2655,3.80
28,Project Manager,PyCharm,152,1433,10.61,4224,3.60
94,Project Manager,Notepad++,161,1433,11.24,3281,4.91
17,Project Manager,R_Studio,164,1433,11.44,4455,3.68
61,Project Manager,Visual Studio,181,1433,12.63,4534,3.99
6,Project Manager,Jupyter,395,1433,27.56,10804,3.66
40,Research Scientist,Atom,115,3063,3.75,1487,7.73
106,Research Scientist,Sublime Text,181,3063,5.91,2655,6.82
84,Research Scientist,Vim / Emacs,216,3063,7.05,1782,12.12
95,Research Scientist,Notepad++,240,3063,7.84,3281,7.31
73,Research Scientist,Spyder,256,3063,8.36,3085,8.30
62,Research Scientist,Visual Studio,303,3063,9.89,4534,6.68
51,Research Scientist,MATLAB,305,3063,9.96,1768,17.25
29,Research Scientist,PyCharm,338,3063,11.03,4224,8.00
18,Research Scientist,R_Studio,357,3063,11.66,4455,8.01
7,Research Scientist,Jupyter,752,3063,24.55,10804,6.96
52,Software Engineer,MATLAB,143,5338,2.68,1768,8.09
41,Software Engineer,Atom,190,5338,3.56,1487,12.78
74,Software Engineer,Spyder,282,5338,5.28,3085,9.14
19,Software Engineer,R_Studio,299,5338,5.60,4455,6.71
85,Software Engineer,Vim / Emacs,370,5338,6.93,1782,20.76
107,Software Engineer,Sublime Text,397,5338,7.44,2655,14.95
96,Software Engineer,Notepad++,565,5338,10.58,3281,17.22
30,Software Engineer,PyCharm,689,5338,12.91,4224,16.31
63,Software Engineer,Visual Studio,1012,5338,18.96,4534,22.32
8,Software Engineer,Jupyter,1391,5338,26.06,10804,12.87
86,Statistician,Vim / Emacs,11,480,2.29,1782,0.62
42,Statistician,Atom,13,480,2.71,1487,0.87
108,Statistician,Sublime Text,19,480,3.96,2655,0.72
31,Statistician,PyCharm,26,480,5.42,4224,0.62
53,Statistician,MATLAB,33,480,6.88,1768,1.87
64,Statistician,Visual Studio,36,480,7.50,4534,0.79
97,Statistician,Notepad++,41,480,8.54,3281,1.25
75,Statistician,Spyder,44,480,9.17,3085,1.43
9,Statistician,Jupyter,97,480,20.21,10804,0.90
20,Statistician,R_Studio,160,480,33.33,4455,3.59
87,Student,Vim / Emacs,260,8180,3.18,1782,14.59
43,Student,Atom,360,8180,4.40,1487,24.21
98,Student,Notepad++,492,8180,6.01,3281,15.00
54,Student,MATLAB,564,8180,6.89,1768,31.90
109,Student,Sublime Text,654,8180,8.00,2655,24.63
76,Student,Spyder,771,8180,9.43,3085,24.99
21,Student,R_Studio,777,8180,9.50,4455,17.44
32,Student,PyCharm,908,8180,11.10,4224,21.50
65,Student,Visual Studio,963,8180,11.77,4534,21.24
10,Student,Jupyter,2431,8180,29.72,10804,22.50

In [336]:
y.reset_index(level=0, inplace=True)

In [337]:
y.reset_index(level=0, inplace=True)

In [338]:
y

,Q2_What is your gender? - Selected Choice,Q10_What is your current yearly compensation (approximate $USD)?,Unnamed: 0
0,Female,"0-9,999",745
1,Male,"0-9,999",3234
2,Prefer not to say,"0-9,999",53
3,Prefer to self-describe,"0-9,999",8
4,Female,"10,000-29,999",321
5,Male,"10,000-29,999",2016
6,Prefer not to say,"10,000-29,999",30
7,Prefer to self-describe,"10,000-29,999",3
8,Female,"100,000-199,999",210
9,Male,"100,000-199,999",1424
10,Prefer not to say,"100,000-199,999",27
11,Prefer to self-describe,"100,000-199,999",6
12,Female,"30,000-49,999",187
13,Male,"30,000-49,999",1244
14,Prefer not to say,"30,000-49,999",14
15,Prefer to self-describe,"30,000-49,999",2
16,Female,"50,000-79,999",230
17,Male,"50,000-79,999",1544
18,Prefer not to say,"50,000-79,999",23
19,Prefer to self-describe,"50,000-79,999",7
20,Female,"80,000-99,999",110
21,Male,"80,000-99,999",662
22,Prefer not to say,"80,000-99,999",9
23,Prefer to self-describe,"80,000-99,999",1
24,Female,"> 200,000",24
25,Male,"> 200,000",349
26,Prefer not to say,"> 200,000",11
27,Prefer to self-describe,"> 200,000",3

In [250]:
[*d.keys()][0]

8

In [204]:
[*df_clean.columns[i]]

['Q1_What is your age (# years)?', 'Q2_What is your gender? - Selected Choice']

In [269]:
i = [8]
df_clean.iloc[:,zero+i].groupby([*df_clean.columns[i]]).count()

                                                    Unnamed: 0
Q10_What is your current yearly compensation (a...
0-9,999                                                   4040
10,000-29,999                                             2370
100,000-199,999                                           1667
30,000-49,999                                             1447
50,000-79,999                                             1804
80,000-99,999                                              782
> 200,000                                                  387

In [270]:
i = [8, 2]
df_clean.iloc[:,zero+i].groupby([*df_clean.columns[i]]).count()

                                                                                              Unnamed: 0
Q10_What is your current yearly compensation (a... Q2_What is your gender? - Selected Choice
0-9,999                                            Female                                            745
                                                   Male                                             3234
                                                   Prefer not to say                                  53
                                                   Prefer to self-describe                             8
10,000-29,999                                      Female                                            321
                                                   Male                                             2016
                                                   Prefer not to say                                  30
                                                   Prefer to self-describe                             3
100,000-199,999                                    Female                                            210
                                                   Male                                             1424
                                                   Prefer not to say                                  27
                                                   Prefer to self-describe                             6
30,000-49,999                                      Female                                            187
                                                   Male                                             1244
                                                   Prefer not to say                                  14
                                                   Prefer to self-describe                             2
50,000-79,999                                      Female                                            230
                                                   Male                                             1544
                                                   Prefer not to say                                  23
                                                   Prefer to self-describe                             7
80,000-99,999                                      Female                                            110
                                                   Male                                              662
                                                   Prefer not to say                                   9
                                                   Prefer to self-describe                             1
> 200,000                                          Female                                             24
                                                   Male                                              349
                                                   Prefer not to say                                  11
                                                   Prefer to self-describe                             3

In [261]:
[*x.columns]

['Unnamed: 0']

In [262]:
x.columns = ["Count"]

In [264]:
x.to_csv("test.csv")

#### SLIDE 0 - Introduction. Kaggle Data Science Survey 2019

- Number of respondants: 19717
- Total number of questions: 34
- Questions considered: 16
- Criterion: What would be most interesting based on the survey we sent you through whatsapp that you kindly completed.

#### SLIDE 1. Survey Population
- Gender
- Age
- Country
- Education

In [353]:
gender = add_vcp(df_clean, 2, "gender")
#age.to_csv("age.csv")
gender.head()

             gender_values  gender_counts  gender_percentage
0                     Male          16138           0.818482
1                   Female           3212           0.162905
2        Prefer not to say            318           0.016128
3  Prefer to self-describe             49           0.002485

In [393]:
d = {4: "education",
    7: "employML"}

13227

In [356]:
df_clean.groupby(df_clean.iloc[:,2]).count()

,Unnamed: 0,Q1_What is your age (# years)?,Q2_What is your gender? - Selected Choice,Q3_In which country do you currently reside?,Q4_What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Q5_Select the title most similar to your current role (or most recent title if retired): - Selected Choice,Q6_What is the size of the company where you are employed?,Q8_Does your current employer incorporate machine learning methods into their business?,Q10_What is your current yearly compensation (approximate $USD)?,Q15_How long have you been writing code to analyze data (at work or at school)?,Q19_What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice,Q23_For how many years have you used machine learning methods?
Q2_What is your gender? - Selected Choice,,,,,,,,,,,,
Female,3212,3212,3212,3212,3148,3114,2104,1944,1827,2448,2175,2137
Male,16138,16138,16138,16138,15824,15657,11658,11059,10473,12940,11989,11839
Prefer not to say,318,318,318,318,304,291,209,193,167,203,180,174
Prefer to self-describe,49,49,49,49,47,45,31,31,30,36,33,32

In [160]:
type(newdf)

pandas.core.frame.DataFrame

In [137]:
values = population.iloc[:,0].value_counts().keys().tolist()

In [138]:
type(values)

list

#### SLIDE 2. Survey Population

#### SLIDE 3. Survey Population

#### SLIDE 4. Survey Population

#### SLIDE 5. Survey Population

#### SLIDE 6. Survey Population

#### SLIDE 7. Survey Population

#### SLIDE 8. Survey Population

#### SLIDE 9. Survey Population

#### SLIDE 10. Survey Population